.home {background-color: rgb(221, 217, 178);
    background-size: 100%;
 
 grid-row:auto;
    text-align:justify;
  }
  .head{
    background-color: rgb(221, 217, 178);
    background-size: 100%;

  }
  .row {
  
    background-attachment: fixed;
    display:flex;
    justify-content: center;
  }
  