.pokeDatail{
    background-color: rgb(187, 214, 189);
    margin: 20px;
    width: 40rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content:stretch;
}

.info{background-color: rgb(161, 238, 166);
margin: 20px;
width: 30rem;
border-radius: 2%;
border-style: solid;
border-color: black;
font-size:large;
text-align: center;}
.detail{

    font-size:medium;
}