.DetalleDePais{
    background-color: rgb(187, 214, 189);
    margin: 20px;
    width: 30rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content:stretch;
}

.info{background-color: rgb(187, 214, 189);
margin: 20px;
width: 15rem;
text-align: center;}